.pagination {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-content {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.pagination-content-pages {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}