/* Imports */
@import 'styles/palette.css';
@import 'styles/pagewrapper.css';
@import 'styles/button.css';
@import 'styles/skeleton.css';
@import 'styles/datatable.css';
@import 'styles/dashboard.css';
@import 'styles/input.css';
@import 'styles/listpage.css';
@import 'styles/pagination.css';

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-block {
    display: flex;
    align-items: center;
    gap: 1rem;
}