/* Imports */
@import 'styles/palette.css';
@import 'styles/pagewrapper.css';
@import 'styles/button.css';
@import 'styles/skeleton.css';
@import 'styles/datatable.css';
@import 'styles/dashboard.css';

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}